@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Font: 		HopelessRomanticSociety
Style: 		Regular
URL: 		https://youworkforthem.com/font/T24735/hopeless-romantic-society
Foundry: 	Peachcreme
Foundry: 	https://youworkforthem.com/designer/1975/peachcreme
Copyright:	
Version: 	17
Created:	July 04, 2024
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
    font-family: "hopeless-romantic-society";
    src: url('/fonts/hopeless-romantic-society/hopeless-romantic-society.eot');
    src: url('/fonts/hopeless-romantic-society/hopeless-romantic-society.eot?#iefix') format('embedded-opentype'),
        url('/fonts/hopeless-romantic-society/hopeless-romantic-society.woff2') format('woff2'),
        url('/fonts/hopeless-romantic-society/hopeless-romantic-society.woff') format('woff'),
        url('/fonts/hopeless-romantic-society/hopeless-romantic-society.ttf') format('truetype'),
        url('/fonts/hopeless-romantic-society/hopeless-romantic-society.svg#youworkforthem') format('svg');
    font-display: swap;
}

/*
Font: 		Klimaks
Style: 		Bold Italic
URL: 		https://youworkforthem.com/font/T16089/klimaks
Foundry: 	Kereatype
Foundry: 	https://youworkforthem.com/designer/1636/kereatype
Copyright:	Copyright (c) 2022 by Kereatype.  All right reserved.
Version: 	17
Created:	May 09, 2022
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
    font-family: 'klimaks-bold-italic';
    src: url('/fonts/klimaks/klimaks-bold-italic.eot');
    src: url('/fonts/klimaks/klimaks-bold-italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/klimaks/klimaks-bold-italic.woff2') format('woff2'),
        url('/fonts/klimaks/klimaks-bold-italic.woff') format('woff'),
        url('/fonts/klimaks/klimaks-bold-italic.ttf') format('truetype'),
        url('/fonts/klimaks/klimaks-bold-italic.svg#youworkforthem') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/*
Font: 		Klimaks
Style: 		Bold
URL: 		https://youworkforthem.com/font/T16089/klimaks
Foundry: 	Kereatype
Foundry: 	https://youworkforthem.com/designer/1636/kereatype
Copyright:	Copyright (c) 2022 by Kereatype.  All right reserved.
Version: 	17
Created:	May 09, 2022
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
    font-family: 'klimaks-bold';
    src: url('/fonts/klimaks/klimaks-bold.eot');
    src: url('/fonts/klimaks/klimaks-bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/klimaks/klimaks-bold.woff2') format('woff2'),
        url('/fonts/klimaks/klimaks-bold.woff') format('woff'),
        url('/fonts/klimaks/klimaks-bold.ttf') format('truetype'),
        url('/fonts/klimaks/klimaks-bold.svg#youworkforthem') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'monteilga-regular';
    src: url('/fonts/monteilga/monteilga-regular.woff2') format('woff2'),
        url('/fonts/monteilga/monteilga-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
Font: 		
Style: 		
URL: 		https://youworkforthem.com/font/T25294/monteilga
Foundry: 	Hishand Studio
Foundry: 	https://youworkforthem.com/designer/1617/hishand-studio
Copyright:	
Version: 	17
Created:	August 27, 2024
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
    font-family: 'monteilga-italic';
    src: url('/fonts/monteilga/monteilga-italic.eot');
    src: url('/fonts/monteilga/monteilga-italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/monteilga/monteilga-italic.woff2') format('woff2'),
        url('/fonts/monteilga/monteilga-italic.woff') format('woff'),
        url('/fonts/monteilga/monteilga-italic.ttf') format('truetype'),
        url('/fonts/monteilga/monteilga-italic.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



@layer base {
    @font-face {
        font-family: "hopeless-romantic-society";
        src: url('/fonts/hopeless-romantic-society/hopeless-romantic-society.eot');
        src: url('/fonts/hopeless-romantic-society/hopeless-romantic-society.eot?#iefix') format('embedded-opentype'),
            url('/fonts/hopeless-romantic-society/hopeless-romantic-society.woff2') format('woff2'),
            url('/fonts/hopeless-romantic-society/hopeless-romantic-society.woff') format('woff'),
            url('/fonts/hopeless-romantic-society/hopeless-romantic-society.ttf') format('truetype'),
            url('/fonts/hopeless-romantic-society/hopeless-romantic-society.svg#youworkforthem') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'klimaks-bold-italic';
        src: url('/fonts/klimaks/klimaks-bold-italic.eot');
        src: url('/fonts/klimaks/klimaks-bold-italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/klimaks/klimaks-bold-italic.woff2') format('woff2'),
            url('/fonts/klimaks/klimaks-bold-italic.woff') format('woff'),
            url('/fonts/klimaks/klimaks-bold-italic.ttf') format('truetype'),
            url('/fonts/klimaks/klimaks-bold-italic.svg#youworkforthem') format('svg');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'klimaks-bold';
        src: url('/fonts/klimaks/klimaks-bold.eot');
        src: url('/fonts/klimaks/klimaks-bold.eot?#iefix') format('embedded-opentype'),
            url('/fonts/klimaks/klimaks-bold.woff2') format('woff2'),
            url('/fonts/klimaks/klimaks-bold.woff') format('woff'),
            url('/fonts/klimaks/klimaks-bold.ttf') format('truetype'),
            url('/fonts/klimaks/klimaks-bold.svg#youworkforthem') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'monteilga-regular';
        src: url('/fonts/monteilga/monteilga-regular.woff2') format('woff2'),
            url('/fonts/monteilga/monteilga-regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'monteilga-italic';
        src: url('/fonts/monteilga/monteilga-italic.eot');
        src: url('/fonts/monteilga/monteilga-italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/monteilga/monteilga-italic.woff2') format('woff2'),
            url('/fonts/monteilga/monteilga-italic.woff') format('woff'),
            url('/fonts/monteilga/monteilga-italic.ttf') format('truetype'),
            url('/fonts/monteilga/monteilga-italic.svg#youworkforthem') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}