---
import AlternativeLayout from "../layouts/AlternativeLayout.astro";
import ContactForm from "../components/ContactForm";
import "../styles/global.css";
---

<AlternativeLayout>
  <div class="flex flex-col justify-center items-center gap-10 my-20 lg:pt-0">
    <h1 class="text-5xl text-center">Contact Us</h1>
    <p class="text-sm md:text-lg text-center w-2/3">
      We'd love to hear from you! Fill out the form below and we'll get back to
      you as soon as possible.
    </p>
    <div class="w-full flex justify-center pb-10 lg:pb-0">
      <ContactForm client:load />
    </div>
  </div>
</AlternativeLayout>

<style>
  h1 {
    font-family: "monteilga-regular", sans-serif;
  }
  p {
    font-family: "klimaks-bold", sans-serif;
  }
</style>
