---
import "@fontsource-variable/quicksand";
import AlternativeLayout from "../layouts/AlternativeLayout.astro";
import ContactForm from "../components/ContactForm";
---

<AlternativeLayout>
  <div class="flex flex-col justify-center gap-6">
    <h1 class="text-5xl text-center">Contact Us</h1>
    <p class="text-lg text-center">
      We'd love to hear from you! Fill out the form below and we'll get back to
      you as soon as possible.
    </p>
    <div class="w-full flex justify-center">
      <ContactForm client:load />
    </div>
  </div>
</AlternativeLayout>

<style>
  div {
    font-family: "Quicksand Variable", sans-serif;
  }
</style>
