---
import Instagram from "../assets/Instagram-Icon.svg";
---

<footer class="bg-footer-green flex flex-col relative">
  <div class="flex justify-center -translate-y-1/2">
    <p class="text-4xl font-bold bg-footer-green p-4 rounded-full">K4L</p>
  </div>
  <div
    class="flex flex-col lg:flex-row justify-evenly items-start px-10 py-5 gap-8"
  >
    <div>
      <p>Resources</p>
      <hr class="my-2 border-off-white max-w-9" />
      <div class="flex flex-col gap-2 text-sm">
        <a href="#">Upcoming Events</a>
        <a href="#">Donate</a>
      </div>
    </div>
    <div>
      <p>Connect with us</p>
      <hr class="my-2 border-off-white max-w-9" />
      <div class="flex flex-col gap-2 text-sm">
        <a href="tel:555-555-5555">555-555-5555</a>
        <a href="mailto:kare4thelot@gmail.com">kare4thelot@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center px-10 py-5 gap-1">
    <p>Follow us:</p>
    <Instagram />
  </div>
  <div>
    <p class="text-xs text-center">
      &copy; 2025 Kare4TheLot. All rights reserved
    </p>
  </div>
</footer>
