---
import HeroImage from "../assets/images/hero-image.png";
import HeroText from "../assets/images/hero-text.png";
import Image2 from "../assets/images/karen-recropped-white.png";
import { Image } from "astro:assets";
import "../styles/global.css";
---

<div class="w-screen">
  <div class="h-[30vh] md:h-[calc(100vh-4rem)]">
    <Image
      src={Image2}
      alt="Hero Photo"
      aria-label="Hero Photo"
      class="w-screen h-full object-cover"
    />
    <!-- Overlay text -->
    <!-- <div
      class="absolute bottom-0 left-0 -translate-y-14 -translate-x-8 flex flex-col justify-center ml-12"
    >
      <div class="pl-2 py-1">
        <h1 class="text-3xl font-monteilga-regular">Serving</h1>
      </div>
    </div>
    <div
      class="absolute bottom-0 left-0 -translate-y-3 translate-x-3 flex flex-col justify-center ml-12"
    >
      <div class="pl-2 py-1">
        <h1 class="text-3xl font-monteilga-regular">
          with a <span class="text-terracotta-500">Purpose</span>
        </h1>
      </div>
    </div>
  </div> -->
  </div>
</div>
