---
import ImageCarousel from "./ImageCarousel";
import "../styles/global.css";
import { TextGenerateEffect } from "./ui/text-generate-effect";
import AlertBanner from "./alerts/alertbanner";
---

<div
  class="flex flex-col justify-center items-center text-center pt-6 bg-ivory-50 lg:pb-10"
>
  <div class="flex flex-col justify-center mb-10">
    <TextGenerateEffect
      client:visible
      duration={2.5}
      words="Community. Prayer. Outreach."
      className="font-monteilga-regular lg:text-5xl"
    />
  </div>
  <div class="grid grid-cols-1 items-center">
    <div class="flex flex-col items-center justify-center gap-9 lg:mb-0">
      <div class="flex relative mt-4">
        <div
          class="absolute inset-y-0 left-0 translate-x-12 lg:relative lg:translate-x-16 lg:-translate-y-2 lg:flex lg:items-center lg:gap-2"
        >
          <h1
            class="absolute inset-y-0 left-0 -translate-y-5 -translate-x-8 lg:relative lg:translate-y-0 lg:translate-x-0 handwritten text-lg lg:text-2xl font-hopeless-romantic-society"
          >
            We
          </h1>
          <h1
            class="absolute inset-y-0 left-0 translate-y-1 lg:relative lg:translate-y-0 handwritten text-lg lg:text-2xl font-hopeless-romantic-society"
          >
            believe
          </h1>
        </div>
        <p class="text-right w-2/3 ml-20 text-sm lg:text-xl lg:w-full">
          in the power of faith, the strength of community, and the call to
          serve.
        </p>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 lg:w-5/6 mx-auto">
        <ImageCarousel client:visible />
        <div class="flex flex-col items-center gap-10 mt-10 lg:mt-0">
          <p
            class="handwritten font-hopeless-romantic-society text-lg lg:text-2xl text-center order-2 lg:order-1"
          >
            Together, we can make a difference.
          </p>
          <p class="text-left px-7 text-xl lg:w-3/4 lg:order-2">
            Faith moves us, <span class="text-highlight-red"
              >community strengthens us, and service defines us.</span
            >
            <span class="text-highlight-blue"
              >Through prayer, outreach, and acts of kindness, we strive to
              bring hope to those in need. Whether it’s lending a helping hand,
              supporting families, or simply sharing a moment of encouragement,
              every action makes a difference.</span
            > Together, we are more than just individuals—we are a united community,
            walking in faith and love.
          </p>
        </div>
      </div>
      <AlertBanner client:load />
    </div>
  </div>
</div>

<style>
  h1 {
    font-family: "monteilga-regular", serif;
  }

  .handwritten {
    font-family: "hopeless-romantic-society", serif;
  }

  p {
    font-family: "klimaks-bold", sans-serif;
  }
</style>
