---
import AnimateSponsors from "./AnimateSponsors";
---

<div class="bg-half-baked">
  <div class="flex flex-col gap-10 items-center pt-8 pb-10">
    <h1 class="font-monteilga-regular text-3xl lg:text-6xl text-white">
      Sponsors & Donors
    </h1>
    <div class="flex flex-col gap-10 items-center lg:w-2/4">
      <p
        class="font-klimaks-bold-italic text-lg lg:text-xl w-[330px] lg:w-full tracking-wide lg:leading-9"
      >
        We deeply appreciate your support in our mission to serve those in
        need. Your support is invaluable to us. We will continue to be responsible
        stewards of your donations and your trust. We know you have a lot of
        choices when it comes to donating, so we are honored and forever grateful
        to each one of you for helping make Gods' vision for Kare4TheLot become a
        reality. We are praying for you and ask that you pray so we may continue
        to make a positive impact while serving OUR communities.
      </p>
      <p
        class="self-start font-hopeless-romantic-society leading-10 text-xl lg:text-2xl"
      >
        With much love,<br />Karen Northern
      </p>
    </div>
  </div>
  <AnimateSponsors client:load />
</div>
