---

---

<div
  class="flex flex-col items-center justify-center pt-12 px-10 tracking-wide gap-10 pb-10"
>
  <h1 class="text-3xl font-bold">Our Story</h1>
  <p class="max-w-3xl">
    Kare4TheLot was birthed during a time when the community / world was
    uncertain if normal would every be an option. We desire to be a
    piece of the non-profit world that seeks to genuinely help those that has consumed
    themselves with things to try to make sense of it all. Unfortunately,
    while trying to make sense of this life that we all face now some have forgotten
    self care, worth, and value.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6">
    <div class="flex flex-col items-center justify-center gap-2">
      <h2 class="text-2xl font-bold">Mission</h2>
      <p class="max-w-xl text-center">
        To show underserved communities that there are still those who care
        about their well-being and to assist in rediscovering one's value in
        family and purpose.
      </p>
    </div>
    <div class="flex flex-col items-center justify-center gap-2">
      <h2 class="text-2xl font-bold">Vision</h2>
      <p class="max-w-xl text-center">
        Kare4TheLot is a genuine driving force that displays love, encourages
        self-care, and supports everyone by providing hands-on resources for
        life skills, as well as mental and physical wellness.
      </p>
    </div>
  </div>
</div>

<style>
  h1 {
    font-family: "Cinzel Decorative", serif;
  }

  h2 {
    font-family: "Cinzel Decorative", serif;
  }

  p {
    font-family: "Tenor Sans", sans-serif;
  }
</style>
