---

---

<div class="bg-our-story bg-cover bg-no-repeat">
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-10 lg:gap-0 px-10 pt-32 pb-20"
  >
    <!-- Our Story -->
    <div class="lg:ml-44">
      <div class="flex flex-col items-center lg:items-start gap-10 lg:gap-20">
        <div class="relative">
          <div
            class="absolute inset-x-0 top-0 -translate-y-12 -translate-x-10 lg:-translate-x-7 lg:-translate-y-14"
          >
            <h1 class="handwritten text-5xl lg:text-6xl">Our</h1>
          </div>
          <h1 class="text-5xl lg:text-8xl">Story</h1>
        </div>
        <p class="w-full lg:w-3/4 text-xl">
          Kare4TheLot was born during a time when the world—and our community—was
          uncertain if normalcy would ever return. Our desire is to be a part of
          the nonprofit space that genuinely helps those who have turned to
          various distractions in an effort to make sense of it all. Sadly, in
          trying to navigate life as we now know it, many have lost sight of
          self-care, self-worth, and personal value.
        </p>
      </div>
    </div>
  
    <!-- Mission and Vision -->
    <div class="flex flex-col items-center gap-10">
      <div class="flex flex-col items-center gap-4">
        <h2 class="text-2xl lg:text-4xl text-gifting-pink-dark">Mission</h2>
        <p class="max-w-lg text-center text-lg">
          To show underserved communities that there are still those who care
          about their well-being and to assist in rediscovering one's value in
          family and purpose.
        </p>
      </div>
      <div class="flex flex-col items-center gap-4">
        <h2 class="text-2xl lg:text-4xl text-gifting-pink-dark">Vision</h2>
        <p class="max-w-lg text-center text-lg">
          Kare4TheLot is a genuine driving force that displays love, encourages
          self-care, and supports everyone by providing hands-on resources for
          life skills, as well as mental and physical wellness.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  h1,
  h2 {
    font-family: "monteilga-regular", serif;
  }

  .handwritten {
    font-family: "hopeless-romantic-society", serif;
  }

  p {
    font-family: "klimaks-bold", sans-serif;
  }
</style>
