---
import "@fontsource/kotta-one";
---

<!doctype html>
<html lang="en" transition:animate="slide">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-v2.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kare4TheLot</title>
  </head>
  <body class=" bg-gradient-to-tr from-primary-site-color to-dark-blue font-site-main-font">
    <slot />
  </body>
</html>

<style>
</style>
